.header {
    max-width: 60rem;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.list a {
    text-decoration: none;
    color: deepskyblue;
}

.list a:hover,
.list a.active {
    color: palevioletred;
}
