#root {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #DFDBE5;
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    background-color: #DFDBE5;

    overflow: hidden;

}



