@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}
body {
    height : 100%;
}
.temporaryBounce {
    -webkit-animation-iteration-count: 10;
    animation-iteration-count: 10;
}