:root {
    --my-color: #fff;
}
[data-theme='dark'] {
    --my-color: #000;
}
[data-theme='pink'] {
    --my-color: #ffabc8;
}
body {
    background-color: var(--my-color);
}

@media (prefers-color-scheme: dark){
    :root{
        --my-color: #252b30;
    }
}

[data-theme='dark'] {
    --my-color: #252b30;
}

